@media (min-width: 992px) {
    ul {
        width: 100%;

        li:nth-child(8) {
            width: 15%;
            text-align: right;
        }

        text-align: center;
    }
}

.marginBottomConfig {
    margin-bottom: 10%;

    div:first-child {
        border: 1px solid red;
        border-radius: 10px;
    }

    .resetButtons {
        margin-left: 7%;
    }
}
