<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <img src="../../../assets/img/favicon.png" class="bird">
      <a class="navbar-brand" href="{{ urlCMMSE }}">CMMSE {{ year }}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/users-admin" routerLinkActive="active">{{ '_USERS' | translate }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/payments-admin" routerLinkActive="active">{{ '_PAYMENTS' | translate }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/authors-admin" routerLinkActive="active">{{ '_AUTHORS' | translate }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/papers-admin" routerLinkActive="active">{{ '_PAPERS' | translate }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/conferences-admin" routerLinkActive="active">{{ '_CONFERENCES' | translate }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/social-admin" routerLinkActive="active">{{ '_SOCIAL_EVENTS' | translate }}</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="/configuration-admin" routerLinkActive="active">{{ '_CONFIG' | translate }}</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLinkActive="active">
              <strong>{{ user }}</strong>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="logOut()" routerLink="/login" routerLinkActive="active">{{ '_LOG_OUT' | translate }}</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <section class="content-section text-center">
    <div class="container">
      <div class="content-section-heading">
        <h1 class="mt-5">{{ '_CONFIG' | translate}}</h1>
      </div>
    </div>
  </section>
  <br>
  <section class="content-section">
    <div class="container">
      <div class="row">
        <p class="col-sm-12 col-xs-12">
          <strong>{{'_CMMSE_INFO' | translate}}</strong>
        </p>
        <mat-slide-toggle class="col-sm-6 col-xs-12" [(ngModel)]="config.cmmse_opened" [disabled]="fieldsDisabled">{{'_CMMSE_OPENED' | translate}} {{ opened}}</mat-slide-toggle>
        <mat-slide-toggle class="col-sm-6 col-xs-12" [(ngModel)]="config.send_term_opened" [disabled]="fieldsDisabled">{{'_SEND_TERM_OPENED' | translate}} {{ termOpened}}</mat-slide-toggle>
      </div>
      <br>
      <div class="row">
        <mat-form-field class="col-sm-6 col-xs-12">
          <input matInput #input placeholder="{{ '_ROOT_USER' | translate}}" [(ngModel)]="config.root_user" [disabled]="fieldsDisabled"
            required>
          <mat-error *ngIf="formControl.hasError('required')">{{ '_REQUIRED_FIELD' | translate }}</mat-error>
        </mat-form-field>
        <mat-form-field class="col-sm-6 col-xs-12">
          <input matInput #input placeholder="{{ '_ROOT_PASSWORD' | translate}}" [type]="hide ? 'password' : 'text'" [(ngModel)]="rootPassword"
            [disabled]="fieldsDisabled" required>
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
          <mat-error *ngIf="formControl.hasError('required')">{{ '_REQUIRED_FIELD' | translate }}</mat-error>
        </mat-form-field>
      </div>
      <br>
      <div class="row">
        <mat-form-field class="col-sm-4 col-xs-12">
          <input matInput #input placeholder="{{ '_CONFERENCE_YEAR' | translate}}" [(ngModel)]="config.conference_year" [disabled]="fieldsDisabled"
            required>
          <mat-error *ngIf="formControl.hasError('required')">{{ '_REQUIRED_FIELD' | translate }}</mat-error>
        </mat-form-field>
        <mat-form-field class="col-sm-4 col-xs-12">
          <input matInput [min]="minDate" [matDatepicker]="pickerInitial" [(ngModel)]="config.conference_initial_day" placeholder="{{ '_CONFERENCE_INITIAL_DATE' | translate}}"
            [disabled]="fieldsDisabled" required>
          <mat-datepicker-toggle matSuffix [for]="pickerInitial"></mat-datepicker-toggle>
          <mat-datepicker #pickerInitial></mat-datepicker>
          <mat-error *ngIf="formControl.hasError('required')">{{ '_REQUIRED_FIELD' | translate }}</mat-error>
        </mat-form-field>
        <mat-form-field class="col-sm-4 col-xs-12">
          <input matInput [min]="minDate" [matDatepicker]="pickerEnd" [(ngModel)]="config.conference_end_day" placeholder="{{ '_CONFERENCE_END_DATE' | translate}}"
            [disabled]="fieldsDisabled" required>
          <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
          <mat-datepicker #pickerEnd></mat-datepicker>
          <mat-error *ngIf="formControl.hasError('required')">{{ '_REQUIRED_FIELD' | translate }}</mat-error>
        </mat-form-field>
      </div>
      <br>
      <div class="row">
        <mat-form-field class="col-sm-6 col-xs-12">
          <input matInput #input placeholder="{{ '_CONFERENCE_PLACE' | translate}}" [(ngModel)]="config.conference_place" [disabled]="fieldsDisabled"
            required>
          <mat-error *ngIf="formControl.hasError('required')">{{ '_REQUIRED_FIELD' | translate }}</mat-error>
        </mat-form-field>
        <mat-form-field class="col-sm-6 col-xs-12">
          <input matInput #input placeholder="{{ '_CONFERENCE_URL' | translate}}" [(ngModel)]="config.conference_url" [disabled]="fieldsDisabled"
            required>
          <mat-error *ngIf="formControl.hasError('required')">{{ '_REQUIRED_FIELD' | translate }}</mat-error>
        </mat-form-field>
      </div>
      <br>
      <div class="row">
        <mat-form-field class="col-sm-4 col-xs-12">
          <input matInput #input placeholder="{{ '_CONFERENCE_CIF' | translate}}" [(ngModel)]="config.CIF" [disabled]="fieldsDisabled"
            required>
          <mat-error *ngIf="formControl.hasError('required')">{{ '_REQUIRED_FIELD' | translate }}</mat-error>
        </mat-form-field>
        <mat-form-field class="col-sm-4 col-xs-12">
          <input matInput #input placeholder="{{ '_ISBN' | translate}}" [(ngModel)]="config.ISBN" [disabled]="fieldsDisabled" required>
          <mat-error *ngIf="formControl.hasError('required')">{{ '_REQUIRED_FIELD' | translate }}</mat-error>
        </mat-form-field>
        <mat-form-field class="col-sm-4 col-xs-12">
          <input matInput #input placeholder="{{ '_FEE_TO_PAY' | translate}}" [(ngModel)]="config.fee_to_pay" [disabled]="fieldsDisabled"
            required>
          <mat-icon matSuffix>euro_symbol</mat-icon>
          <mat-error *ngIf="formControl.hasError('required')">{{ '_REQUIRED_FIELD' | translate }}</mat-error>
        </mat-form-field>
      </div>
      <br>
      <div class="row">
        <mat-form-field class="col-sm-4 col-xs-12">
          <input matInput [min]="minDate" [matDatepicker]="pickerCertificateSignature" [(ngModel)]="config.certificate_signature" placeholder="{{ '_CERTIFICATE_SIGNATURE' | translate}}"
            [disabled]="fieldsDisabled" required>
          <mat-datepicker-toggle matSuffix [for]="pickerCertificateSignature"></mat-datepicker-toggle>
          <mat-datepicker #pickerCertificateSignature></mat-datepicker>
          <mat-error *ngIf="formControl.hasError('required')">{{ '_REQUIRED_FIELD' | translate }}</mat-error>
        </mat-form-field>
        <mat-form-field class="col-sm-4 col-xs-12">
          <input matInput #input placeholder="{{ '_BILL_SPAIN' | translate}}" [(ngModel)]="config.bill_spain" [disabled]="fieldsDisabled"
            required>
          <mat-error *ngIf="formControl.hasError('required')">{{ '_REQUIRED_FIELD' | translate }}</mat-error>
        </mat-form-field>
        <mat-form-field class="col-sm-4 col-xs-12">
          <input matInput #input placeholder="{{ '_BILL_OTHER' | translate}}" [(ngModel)]="config.bill_other" [disabled]="fieldsDisabled"
            required>
          <mat-error *ngIf="formControl.hasError('required')">{{ '_REQUIRED_FIELD' | translate }}</mat-error>
        </mat-form-field>
      </div>
    </div>
    <br>
  </section>
  <section class="content-section text-center marginBottomConfig">
    <div class="container">
      <div class="button-row">
        <button mat-raised-button color="{{colorChange}}" (click)=changeData() [disabled]="areFieldsEmpty()">{{ change | translate }}</button>
      </div>
    </div>
    <br>
    <br>
  </section>

</body>

</html>