<div class="dialog">
    <div class="crossIcon">
        <a (click)="onCancelClick()">
            <i class="fas fa-times"></i>
        </a>
    </div>
    <h1 mat-dialog-title>{{ '_CHANGE_PASSWORD' | translate }}</h1>
    <div mat-dialog-content>
        <div class="container">
            <div class="example-container">
                <mat-form-field class="column12">
                    <input matInput #input placeholder="{{ '_OLD_PASSWORD' | translate}}" [type]="hide ? 'password' : 'text'" [(ngModel)]="oldPassword"
                        required>
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                    <mat-error *ngIf="formControl.hasError('required')">{{ '_REQUIRED_FIELD' | translate }}</mat-error>
                </mat-form-field>
                <mat-form-field class="column12">
                    <input matInput #input placeholder="{{ '_NEW_PASSWORD' | translate}}" [type]="hide2 ? 'password' : 'text'" [(ngModel)]="newPassword"
                        required>
                    <mat-icon matSuffix (click)="hide2 = !hide2">{{hide2 ? 'visibility' : 'visibility_off'}}</mat-icon>
                    <mat-error *ngIf="formControl.hasError('required')">{{ '_REQUIRED_FIELD' | translate }}</mat-error>
                </mat-form-field>
                <mat-form-field class="column12">
                    <input matInput #input placeholder="{{ '_CONFIRM_NEW_PASSWORD' | translate}}" [type]="hide3 ? 'password' : 'text'" [(ngModel)]="newPasswordCheck"
                        required>
                    <mat-icon matSuffix (click)="hide3 = !hide3">{{hide3 ? 'visibility' : 'visibility_off'}}</mat-icon>
                    <mat-error *ngIf="formControl.hasError('required')">{{ '_REQUIRED_FIELD' | translate }}</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="container text-center">
            <br>
            <mat-error *ngIf="newPassword !== newPasswordCheck">{{ '_PASSWORD_NO_MATCH' | translate }}</mat-error>
            <mat-error *ngIf="areFieldsEmpty()">{{ '_REQUIRED_FIELDS_EMPTY' | translate }}</mat-error>
        </div>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button (click)="saveChanges()" [disabled]=areFieldsEmpty()>{{'_SAVE_CHANGES' | translate}}</button>
    </div>
</div>