<div class="dialog">
    <div class="crossIcon">
        <a (click)="onCloseClick()">
            <i class="fas fa-times"></i>
        </a>
    </div>
    <h1 mat-dialog-title>{{ '_EDIT_PAPER' | translate }}</h1>
    <div mat-dialog-content>
        <mat-form-field class="column12">
            <mat-select placeholder="{{ '_MINISYMPOSIUMS' | translate}}" [(ngModel)]="data.paper.minisymposium" required>
                <mat-option *ngFor="let minisymposium of minisymposiums" [(value)]="minisymposium.value">
                    {{ minisymposium.value | translate }}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="formControl.hasError('required')">{{ '_REQUIRED_FIELD' | translate }}</mat-error>
        </mat-form-field>
        <mat-form-field class="column12">
            <input matInput #input placeholder="{{ '_TITLE' | translate}}" [(ngModel)]="data.paper.title" required>
            <mat-error *ngIf="formControl.hasError('required')">{{ '_REQUIRED_FIELD' | translate }}</mat-error>
        </mat-form-field>
        <mat-checkbox [(ngModel)]="data.paper.poster">
            &nbsp;{{ '_POSTER' | translate }}
        </mat-checkbox>
        <ng-container *ngFor="let author of data.paper.authors; index as i">
            <hr>
            <div class="container">
                <div class="example-container row">
                    <div class="column6 text-center">
                        <mat-chip class="chipAuthor">{{ '_AUTHOR' | translate }} {{ i+1 }}</mat-chip>
                    </div>
                    <mat-form-field class="column6">
                        <input matInput #input placeholder="{{ '_NAME' | translate}}" [(ngModel)]="author.first_name" required>
                        <mat-error *ngIf="formControl.hasError('required')">{{ '_REQUIRED_FIELD' | translate }}</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="container">
                <div class="example-container row">
                    <mat-form-field class="column6">
                        <input matInput #input placeholder="{{ '_LAST_NAME' | translate}}" [(ngModel)]="author.last_name" required>
                        <mat-error *ngIf="formControl.hasError('required')">{{ '_REQUIRED_FIELD' | translate }}</mat-error>
                    </mat-form-field>
                    <mat-form-field class="column6">
                        <input matInput #input placeholder="{{ '_EMAIL' | translate}}" [(ngModel)]="author.email" required type="email" email>
                        <mat-error *ngIf="formControl.hasError('required')">{{ '_WRONG_EMAIL' | translate }}</mat-error>
                    </mat-form-field>
                </div>
            </div>
        </ng-container>
        <div class="container">
            <div class="example-container row">
                <button mat-raised-button color="basic" (click)=addAuthor() [disabled]="addDisabled()">{{ '_ADD_AUTHOR' | translate }}</button>
                <button mat-raised-button color="warn" (click)=removeAuthor() [disabled]="removeDisabled()">{{ '_REMOVE_AUTHOR' | translate }}</button>
            </div>
        </div>
        <hr>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button color="primary" (click)="onSaveClick()" [disabled]="submitDialogDisabled()">{{'_SAVE_CHANGES' | translate}}</button>
    </div>
</div>