<div class="dialog">
    <div class="crossIcon">
        <a (click)="onCloseClick()">
            <i class="fas fa-times"></i>
        </a>
    </div>
    <h1 mat-dialog-title>{{ '_EDIT_PAPER' | translate }}</h1>
    <div mat-dialog-content>
        <mat-form-field class="column12">
            <mat-select placeholder="{{ '_MINISYMPOSIUMS' | translate}}" [(ngModel)]="data.paper.minisymposium" required>
                <mat-option *ngFor="let minisymposium of minisymposiums" [(value)]="minisymposium.value">
                    {{ minisymposium.value | translate }}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="formControl.hasError('required')">{{ '_REQUIRED_FIELD' | translate }}</mat-error>
        </mat-form-field>
        <mat-form-field class="column12">
            <input matInput #input placeholder="{{ '_TITLE' | translate}}" [(ngModel)]="data.paper.title" required>
            <mat-error *ngIf="formControl.hasError('required')">{{ '_REQUIRED_FIELD' | translate }}</mat-error>
        </mat-form-field>
        <mat-checkbox [(ngModel)]="data.paper.poster">
            &nbsp;{{ '_POSTER' | translate }}
        </mat-checkbox>
        <hr>
        <div class="container">
            <div class="example-container row">
                <div class="column3 text-center">
                    <mat-chip class="chipPaper">{{ '_PAPER' | translate }}</mat-chip>
                </div>
                <div class="column3 buttonSelectFile">
                    <button mat-raised-button color="primary" (click)="fileInput.click()">{{ '_SELECT_FILE' | translate }}</button>
                </div>
                <div class="column3 col-sm-4">
                    <mat-chip-list>
                        <mat-chip (remove)="removePaper()">
                            <div *ngIf="fileURL">
                                <a (click)="openTabTo(fileURL)" [href]="fileURL">{{ fileName | translate }} </a>
                            </div>
                            <div *ngIf="!fileURL">
                                {{ fileName | translate }}
                            </div>
                            <mat-icon *ngIf="fileURL" matChipRemove>cancel</mat-icon>
                        </mat-chip>
                    </mat-chip-list>
                </div>
                <div class="col-xs-6 col-sm-4">
                    <!-- <input accept=".png,.jpg" /> -->
                    <input #fileInput type="file" (change)="upload($event)" class="uploadInput" />
                </div>
            </div>
            <br>
            <div *ngIf="uploadState | async" class="progress">
                <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width]="(uploadProgress | async) + '%'"
                    [attr.aria-valuenow]="(uploadProgress | async)" aria-valuemin="0" aria-valuemax="100">
                    {{ progressBarValue }}</div>
            </div>
            <br>
        </div>
        <ng-container *ngFor="let author of data.paper.authors; index as i">
            <hr>
            <div class="container">
                <div class="example-container row">
                    <div class="column6 text-center">
                        <ng-container *ngIf="i === 0">
                            <mat-chip class="chipAuthor">{{ '_CORRESPONDING_AUTHOR' | translate }}</mat-chip>
                        </ng-container>
                        <ng-container *ngIf="i !== 0">
                            <mat-chip class="chipAuthor">{{ '_AUTHOR' | translate }}</mat-chip>
                        </ng-container>
                    </div>
                    <mat-form-field class="column6">
                        <input matInput #input placeholder="{{ '_NAME' | translate}}" [(ngModel)]="author.first_name" required>
                        <mat-error *ngIf="formControl.hasError('required')">{{ '_REQUIRED_FIELD' | translate }}</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="container">
                <div class="example-container row">
                    <mat-form-field class="column6">
                        <input matInput #input placeholder="{{ '_LAST_NAME' | translate}}" [(ngModel)]="author.last_name" required>
                        <mat-error *ngIf="formControl.hasError('required')">{{ '_REQUIRED_FIELD' | translate }}</mat-error>
                    </mat-form-field>
                    <mat-form-field class="column6">
                        <input matInput #input placeholder="{{ '_EMAIL' | translate}}" [(ngModel)]="author.email" required type="email" email>
                        <mat-error *ngIf="formControl.hasError('required')">{{ '_WRONG_EMAIL' | translate }}</mat-error>
                    </mat-form-field>
                </div>
            </div>
        </ng-container>
        <div class="container">
            <div class="example-container row">
                <button mat-raised-button color="basic" (click)=addAuthor() [disabled]="addDisabled()">{{ '_ADD_AUTHOR' | translate }}</button>
                <button mat-raised-button color="warn" (click)=removeAuthor() [disabled]="removeDisabled()">{{ '_REMOVE_AUTHOR' | translate }}</button>
            </div>
        </div>
        <hr>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button color="primary" (click)="onSaveClick()" [disabled]="submitDialogDisabled()">{{'_SAVE_CHANGES' | translate}}</button>
    </div>
</div>