@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    padding-top: 54px;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

.border-rounded {
    border: 1px solid gray;
    border-top-left-radius: 5% 30%;
    border-top-right-radius: 5% 30%;
    border-bottom-left-radius: 5% 30%;
    border-bottom-right-radius: 5% 30%;
}

.button-green {
    background-color: green;
    color: white !important;
}

@media (max-width: 1280px) {
    footer {
        position: relative !important;
        left: 0;
        bottom: 0;
        width: 100%;
        padding-right: 0%;
    }
}

@media (max-width: 425px) {
    .example-container > * {
        width: 100% !important;
    }
    footer .footer-text {
        text-align: inherit !important;
        margin-left: 5% !important;
        margin-right: 5% !important;
    }
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;

    .footer-text {
        text-align: left;
        margin-left: -10%;
    }

    color: black;
    background-color: #6C6764 !important;
}

.margin-icon {
    margin-bottom: 4%;
    margin-top: 5%;
}

.mat-select-value, .mat-select-placeholder, .mat-select-arrow {
    color: black !important;
}

.example-container {
    width: 100%;
}

mat-form-field.column4 {
    width: 32%;
    padding-right: 3%;
}

mat-form-field.column6 {
    width: 48.25%;
    padding-right: 3%;
}

mat-form-field.column8 {
    width: 64.5%;
    padding-right: 3%;
}

mat-form-field.column12 {
    width: 100%;
    padding-right: 3%;
}
