@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    padding-top: 54px;
}

@media (min-width: 1281px) {
    body {
        padding-top: 56px;
    }

    footer {
        position: fixed !important;
    }
}

.border-rounded {
    border: 1px solid gray;
    border-top-left-radius: 5% 30%;
    border-top-right-radius: 5% 30%;
    border-bottom-left-radius: 5% 30%;
    border-bottom-right-radius: 5% 30%;
}

.button-green {
    background-color: green;
    color: white !important;
}

@media (max-width: 425px) {
    .example-container > * {
        width: 100% !important;
    }

    footer .footer-text {
        text-align: inherit !important;
        margin-left: 5% !important;
        margin-right: 5% !important;
    }
}

footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;

    .footer-text {
        text-align: left;
        margin-left: -10%;
    }

    color: black;
    background-color: #6C6764 !important;
}

.margin-icon {
    margin-bottom: 4%;
    margin-top: 5%;
}

.mat-select-value, .mat-select-placeholder, .mat-select-arrow {
    color: black !important;
}

.example-container {
    width: 100%;
}

.column3 {
    width: 24%;
    padding-right: 3%;
}

.column4 {
    width: 32%;
    padding-right: 3%;
}

.column6 {
    width: 48.25%;
    padding-right: 3%;
}

.column8 {
    width: 64.5%;
    padding-right: 3%;
}

.column12 {
    width: 100%;
    padding-right: 3%;
}

.dashBoardSection {
    padding-bottom: 10%;
}

.loginSection {
    padding-bottom: 10%;
}

.recoverSection {
    padding-bottom: 23%;
}

.dialog {
    text-align: justify;

    .mat-dialog-title {
        text-align: center;
    }

    button {
        color: white;
        background-color: #3f51b5;
        margin-left: 35%;
    }
}

.mat-form-field-disabled input {
    color: black !important;
}

.cdk-overlay-container {
    z-index: 1031;
}

.crossIcon {
    text-align: right;
    width: 100%;

    a {
        cursor: pointer;
    }

    i {
        position: absolute;
    }
}

snack-bar-container {
    background: green !important;
}

.uploadInput {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

mat-cell a {
    color: #007bff !important;
    cursor: pointer;
}

.dialog .example-container button.mat-raised-button {
    margin-left: 20%;
    margin-bottom: 2%;
}

.dialog mat-chip {
    margin-top: 5%;
}

.paymentUserAdmin {
    padding-top: 2%;
}

a:focus {
    outline: none;
}
