<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{{ urlCMMSE }}">CMMSE {{ year }}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">{{'_HOME' | translate}}
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ urlCMMSE }}">{{ '_ABOUT' | translate}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">{{ '_LOG_IN' | translate }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">
              <app-language-select></app-language-select>
            </a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li> -->
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <section class="content-section text-center">
    <div class="container">
      <div class="content-section-heading">
        <h1 class="mt-5">{{ '_WELCOME' | translate}}</h1>
        <br>
        <p class="text-faded mb-0">{{ '_REGISTRATION_INFO' | translate}}</p>
      </div>
      <br>
      <div class="row">
        <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
          <i class="fas fa-address-card fa-4x"></i>
          <h5>
            <strong>{{ '_FIRST_STEP' | translate}}</strong>
          </h5>
          <p class="text-faded mb-0">{{ '_FIRST_STEP_DESCRIPTION' | translate}}</p>
        </div>
        <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
          <i class="far fa-file fa-4x"></i>
          <h5>
            <strong>{{ '_SECOND_STEP' | translate}}</strong>
          </h5>
          <p class="text-faded mb-0">{{ '_SECOND_STEP_DESCRIPTION' | translate}}</p>
        </div>
        <div class="col-lg-4 col-md-6 mb-5 mb-md-0">
          <i class="fas fa-dollar-sign fa-4x"></i>
          <h5>
            <strong>{{ '_THIRD_STEP' | translate}}</strong>
          </h5>
          <p class="text-faded mb-0">{{ '_THIRD_STEP_DESCRIPTION' | translate}}</p>
        </div>
      </div>
      <br>
      <!-- Comentar por ahora -->
      <!-- <div class="content-section">
        <p class="text-faded mb-0">{{ '_REGISTRATION_INFO_2' | translate}}</p>
      </div> -->
    </div>
    <br>
  </section>

  <section class="content-section text-center">
    <div class="container">
      <div class="button-row">
        <button mat-raised-button color="primary">{{ '_REGISTER' | translate }}</button>
        <button mat-raised-button class="button-green">{{ '_LOG_IN' | translate }}</button>
      </div>
      <br>
      <div class="button-row">
          <button mat-raised-button>{{ '_RETURN' | translate }}</button>
        </div>
    </div>
    <br>
  </section>

  <!-- Footer -->
  <footer class="footer text-center bg-dark">
    <br>
    <div class="container">
      <p class="text-muted small mb-0">Copyright &copy; {{ year }}</p>
      <p class="text-muted small mb-0">{{ '_FOOTER' | translate }}</p>
    </div>
    <br>
  </footer>

</body>

</html>