<div>
  <router-outlet></router-outlet>
  <!-- Footer -->
  <footer class="footer text-center bg-dark">
      <br>
      <div class="row">
        <div class="col-lg-5 col-md-6 mb-5 mb-md-0">
          <app-language-select></app-language-select>
        </div>
        <div class="col-lg-7 col-md-6 mb-5 mb-md-0">
            <br>
            <p class="small mb-0 footer-text">Copyright &copy; {{ year }} - {{ '_FOOTER' | translate }}</p>
          </div>
      </div>
      <br>
    </footer>
</div>