<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <img src="../../../assets/img/favicon.png" class="bird">
      <a class="navbar-brand" href="{{ urlCMMSE }}">CMMSE {{ year }}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/index" routerLinkActive="active">{{'_HOME' | translate}}
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ urlCMMSE }}">{{ '_ABOUT' | translate }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login" routerLinkActive="active">{{ '_LOG_IN' | translate }}</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li> -->
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <section class="content-section text-center">
    <div class="container">
      <div class="content-section-heading">
        <h1 class="mt-5">{{ '_RECOVER_PASSWORD' | translate}}</h1>
      </div>
    </div>
  </section>
  <br>
  <section class="content-section text-center">
    <div class="container">
      <div class="example-container">
        <mat-form-field class="column6">
          <input matInput #input placeholder="{{ '_EMAIL' | translate}}" [formControl]="emailControl" [(ngModel)]="user" required>
          <mat-error *ngIf="emailControl.hasError('required')">{{ '_REQUIRED_FIELD' | translate }}</mat-error>
          <mat-error *ngIf="emailControl.hasError('email') && !emailControl.hasError('required')">{{ '_WRONG_EMAIL' | translate }}</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="container text-center">
      <br>
      <mat-error *ngIf="userIncorrect">{{ '_USER_NOT_FOUND' | translate }}</mat-error>
    </div>
    <br>
  </section>

  <section class="content-section text-center recoverSection">
    <div class="container">
      <div class="button-row">
        <button mat-raised-button color="primary" routerLink="/login" routerLinkActive="active" (click)=recoverPassword() [disabled]="emailControl.hasError('email')">{{ '_SEND_PASSWORD' | translate }}</button>
        <button mat-raised-button routerLink="/login" routerLinkActive="active">{{ '_RETURN2' | translate }}</button>
      </div>
    </div>
    <br>
    <br>
  </section>

</body>

</html>