@media (min-width: 992px) {
    ul {
        width: 100%;

        li:nth-child(8) {
            width: 15%;
            text-align: right;
        }

        text-align: center;
    }
}

mat-header-row mat-header-cell:nth-child(7), mat-row mat-cell:nth-child(7) {
    max-width: 8%;
}

mat-header-row mat-header-cell:nth-child(6), mat-row mat-cell:nth-child(6) {
    max-width: 8%;
}

mat-header-row mat-header-cell:nth-child(5), mat-row mat-cell:nth-child(5) {
    max-width: 12%;
}

mat-header-row mat-header-cell:nth-child(4), mat-row mat-cell:nth-child(4) {
    max-width: 12%;
}

mat-header-row mat-header-cell:nth-child(3), mat-row mat-cell:nth-child(3) {
    max-width: 15%;
}

mat-cell mat-form-field {
    max-width: 60%;
}

.marginBottomUsers {
    margin-bottom: 10%;
}
